.board {
    width: 400px;
    height: 400px;

    border: 2px solid black;
}

.board>*>* {
    border: 1px solid black;
}

.board-buttons {
    display: flex;
    justify-content: center;

    padding-top: 5px;
}

.board-button {
    background-color: coral;
}